/* ====== COLORES Y TIPOGRAFÃA ====== */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa; 
    color: #212529;            
}
html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > .container {
    flex: 1;
}

/* ====== NAVBAR ====== */
.navbar {
    padding: 0.75rem 1rem;
}

.navbar-brand span {
    font-weight: bold;
    font-size: 1.25rem;
    color: #fff;
}

.navbar-brand img {
    border-radius: 5px;
}

/* ====== ENLACES NAV ====== */
.nav-link {
    color: #ddd !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #a03110 !important;
}

/* ====== FOOTER ====== */
footer {
    background-color: #1c1e21;
    color: #fff;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 1rem;
}

footer p,
footer li {
    font-size: 0.95rem;
}

footer a {
    color: #ccc;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #a03110!important;
    transition: color 0.3s ease;
    text-decoration: underline;
}

footer hr {
    opacity: 0.1;
}
.nav-link.active {
    color: #fff !important;
    font-weight: bold;
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
    footer .row {
        text-align: center;
    }

    footer .col-md-4 {
        margin-bottom: 1.5rem;
    }
}

/* ====== PERFIL ====== */

.titulo-seccion {
  color: #000000; 
  border-bottom: 2px solid #dee2e6; 
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

input[type="text"], textarea {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    box-shadow: 3px 1px 5px rgba(0,0,0,0.05);
    transition: all 0.3s ease-in-out;
}

input[type="text"]:focus, textarea:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102,175,233,.6);
}
h1 span.text-primary {
  font-weight: 700;
}

ul {
  padding-left: 1.2rem;
}

ul li {
  margin-bottom: 0.5rem;
}
.card-img-top {
  width: 100%;
  height: 200px;         
  object-fit: cover;     
  object-position: center;
}
.page-link {
  border-radius: 1rem;
  transition: all 0.3s ease;
}
.page-link:hover {
  background-color: #f8f9fa;
}
.page-item.active .page-link {
  background-color: #212529;
  color: #fff;
  border-color: #212529;
}
